<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <link rel="shorcut icon" href="/images/icons/favicon.png">
  </head>
  <body>
    <h1><img src="/images/icons/appIcon.png"></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
